<div class="container">

  <h1 class="d-flex justify-content-center">Clientes</h1>

  <div class="d-flex justify-content-between align-items-center">
    <button type="button" class="btn btn-primary" (click)="newClient()">Novo Cliente</button>
    <form>
      <input type="search" placeholder="Consultar clientes" [(ngModel)]="searchText" name="search" autocomplete="off">
    </form>
  </div>

  <div class="table-responsive">

    <table class="table table-striped mt-5">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sexo</th>
          <th>E-mail</th>
          <th>Data de Nascimento</th>
          <th>Naturalidade</th>
          <th>Nacionalidade</th>
          <th>CPF</th>
          <th>Data de Cadastro</th>
          <th>Data de Atualização</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients | filter:searchText">
          <td>{{ client.id }}</td>
          <td>{{ client.nome }}</td>
          <td>{{ client.sexo }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.dataNascimento }}</td>
          <td>{{ client.naturalidade }}</td>
          <td>{{ client.nacionalidade }}</td>
          <td>{{ client.cpf }}</td>
          <td>{{ client.dataCadastro }}</td>
          <td>{{ client.dataAtualizacao }}</td>
          <td>
            <button class="btn btn-primary mb-2" (click)="alterar(client)">Alterar</button>
            <button class="btn btn-danger" (click)="remover(client.id)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>