<div class="container">
  <form [formGroup]="clientForm">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome">
    </div>
    <div class="mb-3">
      <label for="sexo" class="form-label">Sexo</label>
      <input type="text" class="form-control" formControlName="sexo" id="sexo">
    </div>
    <div class="mb-3">
      <label class="form-label" for="email">E-mail</label>
      <input type="email" class="form-control" formControlName="email" id="email">
    </div>
    <div class="mb-3">
      <label class="form-label" for="dataNascimento">Data de Nascimento</label>
      <input type="date" class="form-control" formControlName="dataNascimento" id="dataNascimento">
    </div>
    <div class="mb-3">
      <label class="form-label" for="naturalidade">Naturalidade</label>
      <input type="text" class="form-control" formControlName="naturalidade" id="naturalidade">
    </div>
    <div class="mb-3">
      <label class="form-label" for="nacionalidade">Nacionalidade</label>
      <input type="text" class="form-control" formControlName="nacionalidade" id="nacionalidade">
    </div>
    <div class="mb-3">
      <label class="form-label" for="cpf">CPF</label>
      <input type="text" class="form-control" formControlName="cpf" id="cpf">
      <span>{{ mensagem }}</span>
    </div>
    <input  type="hidden" formControlName="dataCadastro">
    
    <button class="btn btn-primary" (click)="id ? alterClient() : saveClient()">Save Client</button>
  </form>
</div>
